.logout-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #005f99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .logout-button:active {
    background-color: #004c7a;
  }
  