/* Font-face definitions */
@font-face {
  font-family: 'Inconsolata';
  src: url('https://assets.website-files.com/626692727bba3f384e008e8a/627a32d66398e0273cf22b55_Inconsolata-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Robotomono';
  src: url('https://assets.website-files.com/626692727bba3f384e008e8a/64383bda591f74930cac0e04_RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Robotomono';
  src: url('https://assets.website-files.com/626692727bba3f384e008e8a/64383bdad6fcd16bea7fbb3b_RobotoMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Radomir tinkov gilroy';
  src: url('https://assets.website-files.com/626692727bba3f384e008e8a/6268009cf6c5365286ba6874_Radomir%20Tinkov%20-%20Gilroy-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Radomir tinkov gilroy';
  src: url('https://assets.website-files.com/626692727bba3f384e008e8a/6268009c4869ed6ef62d9b90_Radomir%20Tinkov%20-%20Gilroy-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Radomir tinkov gilroy';
  src: url('https://assets.website-files.com/626692727bba3f384e008e8a/6268009c97613c2c111e137d_Radomir%20Tinkov%20-%20Gilroy-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* App header styling */
.App-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff56; /* Adjusted to a darker shade like in dynamyc.xyz */
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  font-family: 'Radomir tinkov gilroy', sans-serif; /* Applying the Gilroy font */
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-logo {
  height: 50px; /* Ensure the logo is not too large */
}

.header-title {
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold; /* Bold title similar to dynamyc.xyz */
  color: #1b18a4; /* A color to pop similar to React's primary color */
  font-family: 'Inconsolata', monospace; /* Applying Inconsolata for the title */
}

.right-header {
  display: flex;
  align-items: center;
}

.connection-status {
  margin-right: 20px;
  font-size: 1.2rem;
  font-family: 'Robotomono', monospace; /* Applying Robotomono for connection status */
}

.connected {
  color: #00c851; /* More vibrant green to make the connected status stand out */
  font-weight: bold;
}

.disconnected {
  color: red;
}

/* Tabs and content styling */
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #1b18a4;
}

.tab {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #1b18a4;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
  background-color: #f5f5f5;
  font-family: 'Radomir tinkov gilroy', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab:hover, .tab.active {
  background-color: #1b18a4;
  color: white;
}

.tab-content {
  padding: 40px;
  font-size: 1.3rem; /* Increased font size for better readability */
  line-height: 1.8; /* Increased line-height for more space between lines */
  color: #333;
  font-family: 'Robotomono', monospace;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centering text alignment */
  max-width: 80%; /* Restricting width for better content readability */
  margin: auto; /* Centering the content block */
}


.tab-content h2 {
  font-size: 2rem; /* Larger font size for headings */
  font-weight: bold; /* Emphasize the heading */
  margin-bottom: 20px; /* Space between heading and first paragraph */
  color: #1b18a4; /* Matching color for brand consistency */
}

.tab-content p {
  margin-bottom: 20px; /* Space between paragraphs */
}


